@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

/* 
----------------------------
          GLOBAL 
----------------------------
*/

/* changes css box-size calculation 
  -> padding now is part of the width */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* aa for borders (makes borders of font less sharp) */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

/* set font and use 100% of screenspace */
body {
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
  font-weight: 300;
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  color: #fafafafa;
  background-color: #101820ff;
}

/* remove top margin from headings and add small bottom */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 5px;
}

/* set size and font */
h1 {
  font-size: 6.5vh;
}

h2 {
  font-size: 5.2vh;
  font-family: 'Lato', sans-serif;
}

h3 {
  font-size: 4.2vh;
  font-family: 'Lato', sans-serif;
}

h4 {
  font-size: 3.3vh;
  font-family: 'Lato', sans-serif;
}

h5 {
  font-size: 1.9vh;
  font-family: 'Lato', sans-serif;
}

/* 
----------------------------
          COLORS
----------------------------
*/

.red {
  background: red;
}

.blue {
  background: blue;
}

.green {
  background: green;
}

.yellow {
  background: yellow;
}

.teal {
  background: teal;
}

.purple {
  background: purple;
}

.slategrey {
  background: slategrey;
}

/* 
----------------------------
          GENERAL
----------------------------
*/

.fullSize {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex: 1;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
}

.section {
  flex-grow: 1;
  flex-shrink: 1;
  /* height: 100%; */
}

/* add gap between sections, effectively skipping the first left */
.section + .section {
  margin-left: 1.5%;
}

.innerSection {
  width: 100%;
}

.view {
  width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.viewQuarter {
  width: 45vw;
  max-height: 40vh;
  padding: 15px;
  text-align: center;
}

/* 
----------------------------
          Flexbox
----------------------------
*/

.flex {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.flex3 {
  flex: 3;
}

.flex4 {
  flex: 4;
}

.flex5 {
  flex: 5;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.alignStart {
  align-items: flex-start;
}

.alignEnd {
  align-items: flex-end;
}

/* 
----------------------------
          TABLE
----------------------------
*/

.header {
  text-align: center;
  /* padding: 20px; */
  /* margin: 30px; */
}
.driver {
  text-align: center;
  width: 100%;
}

.tableHeader {
  display: flex;
  flex-direction: row;
}

.tableBody {
  display: flex;
  flex-direction: column;
}
