@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

/* 
----------------------------
          VARIABLES 
----------------------------
*/

:root {
  --mercedes-color: #00d2be;
  --redbull-color: #0600ef;
  --ferrari-color: #dc0000;
  --hover-color: #38383f;
  --mclaren-color: #ff8700;
  --racing-point-color: #f596c8;
  --renault-color: #fff500;
}

/* 
----------------------------
          GLOBAL 
----------------------------
*/

/* changes css box-size calculation 
  -> padding now is part of the width */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* aa for borders (makes borders of font less sharp) */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

/* set font and use 100% of screenspace */
body {
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
  font-weight: 300;
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  color: #fafafafa;
  background-color: #101820ff;
}

/* remove top margin from headings and add small bottom */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 5px;
}

/* set size and font */
h1 {
  font-size: 6.5vh;
}

h2 {
  font-size: 5.2vh;
  font-family: 'Lato', sans-serif;
}

h3 {
  font-size: 4.2vh;
  font-family: 'Lato', sans-serif;
}

h4 {
  font-size: 3.3vh;
  font-family: 'Lato', sans-serif;
}

h5 {
  font-size: 1.9vh;
  font-family: 'Lato', sans-serif;
}

/* 
----------------------------
          COLORS
----------------------------
*/

.red {
  background: red;
}

.blue {
  background: blue;
}

.green {
  background: green;
}

.yellow {
  background: yellow;
}

.teal {
  background: teal;
}

.purple {
  background: purple;
}

.slategrey {
  background: slategrey;
}

.pearl {
  background: #f8f6f0;
}

/* 
----------------------------
          GENERAL
----------------------------
*/

.fullSize {
  width: 95vw;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex: 1;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
}

.section {
  flex-grow: 1;
  flex-shrink: 1;
  /* height: 100%; */
}

/* add gap between sections, effectively skipping the first left */
.section + .section {
  margin-left: 1.5%;
}

.innerSection {
  width: 100%;
}

.view {
  width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.viewQuarter {
  width: 45vw;
  max-height: 40vh;
  padding: 15px;
  text-align: center;
}

.liveMap {
  width: 80%;
  height: 100%;
}

/* 
----------------------------
          Flexbox
----------------------------
*/

.flex {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.flex3 {
  flex: 3;
}

.flex4 {
  flex: 4;
}

.flex5 {
  flex: 5;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.alignStart {
  align-items: flex-start;
}

.alignEnd {
  align-items: flex-end;
}

/* 
----------------------------
          TABLE
----------------------------
*/

.header {
  text-align: center;
  /* padding: 20px; */
  /* margin: 30px; */
}
.driver {
  text-align: center;
  width: 100%;
}

.tableHeader {
  display: flex;
  flex-direction: row;
}

.tableBody {
  display: flex;
  flex-direction: column;
}

/* 
----------------------------
          STANDINGS
----------------------------
*/

.tableContainer {
  width: 60%;
  min-width: 600px;
  /* border: 1px solid black; */
  margin: 100px auto;
}

.tableContainer th {
  display: none;
}

.tableContainer tr {
  display: flex;
  padding: 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  transition: 0.3s;
  cursor: pointer;
}

.tableContainer tr.tableContent {
  justify-content: space-between;
  padding: 0;
}

.tableContainer tr.tableContent td {
  margin: 0 20px 0 10px;
  font-size: 1.4rem;
  text-align: center;
  padding: 10px;
}

.tableContainer tr.tableContent td .position {
  border-right: 5px solid var(--mercedes-color);
  padding-right: 10px;
  font-size: 1.4rem;
  font-weight: bold;
}

.tableContainer tr.tableContent td .driverName {
  margin-left: 10px;
}

.tableContainer tr.tableContent td .driverSurname {
  font-weight: bolder;
  text-transform: uppercase;
}

.tableContainer tr.tableContent td .team {
  font-size: 1rem;
  color: #666;
  margin-left: 10px;
}

.tableContainer tr.tableContent td .points {
  background-color: #ccc;
  border-radius: 50px;
  font-size: 1.1rem;
  padding: 0 10px;
}

.tableContainer tr.tableContent td i {
  margin-left: 20px;
  color: #e10600;
  font-size: 18px;
}

/* HOVER */

.tableContainer tr:hover {
  background-color: var(--hover-color);
  color: #ffffff;
}

.tableContainer tr:hover .points {
  color: black;
}

/* DRIVER 2 */

.tableContainer .tableContent.driver2 .position {
  border-right: 5px solid var(--redbull-color);
}

/* DRIVER 4 */

.tableContainer .tableContent.driver4 .position {
  border-right: 5px solid var(--redbull-color);
}

/* DRIVER 5 */

.tableContainer .tableContent.driver5 .position {
  border-right: 5px solid var(--ferrari-color);
}

/* DRIVER 6 */

.tableContainer .tableContent.driver6 .position {
  border-right: 5px solid var(--mclaren-color);
}

/* DRIVER 7 */

.tableContainer .tableContent.driver7 .position {
  border-right: 5px solid var(--racing-point-color);
}

/* DRIVER 8 */

.tableContainer .tableContent.driver8 .position {
  border-right: 5px solid var(--renault-color);
}

/* DRIVER 9 */

.tableContainer .tableContent.driver9 .position {
  border-right: 5px solid var(--racing-point-color);
}

/* DRIVER 10 WITH EXTRA MARGIN/PADDING TO COMPENSATE EXTRA DIGIT */

.tableContainer .tableContent.driver10 .position {
  border-right: 5px solid var(--renault-color);
  padding-right: 7px;
}

.tableContainer .tableContent.driver10 td {
  margin-left: 0;
}
